* {
  box-sizing: border-box;
}

body {
  margin: 25px;
  font-size: 1.2em;
}

body, input {
  font-family: Merriweather, Georgia, serif; 
}

main {
  max-width: 800px;
  margin: auto;
}

h1 {
  font-weight: bold;
  background-color: pink;
  color: white;
  padding: 1em;
  text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.7px;
}

a {
  text-decoration: none;
  color: #000000;
  background-color: hsl(193, 83%, 62%);
  border-bottom: 3px solid hsla(193, 83%, 31%, 1);
}

a:hover {
  text-decoration: none;
  color: #000000;
  background-color: hsl(93, 97%, 56%);
  border-bottom: 3px solid hsla(93, 62%, 29%, 1);
}

.bold {
  font-weight: bold;
}

p, img, video {
  max-width: 100%;
}

p, li {
  line-height: 1.8em;
}

p code, li code, h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
  font-family: 'Source Code Pro', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  background-color: rgba(218, 235, 239, 0.21);
  padding: 2px 6px;
  border: 1px solid #daebef;
}

button {
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
}

button:hover {
  background-color: yellow;
}

button:active {
  box-shadow: none;
}

li {
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

footer > a {
  color: #BBBBBB;
  background-color: white;
}