.navigation {
  display: flex;
  justify-content: space-between;
  position: sticky;
}

.navigation-links {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
}

.navigation-link {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

.navigation-links li {
  margin-right: 1em;
}

@media(max-width: 480px) {
  .navigation img {
    display: none;
  }
}

@media only screen and (max-width: 425px) {
  .navigation-links {
    font-size: 90%;
  }
}

@media only screen and (max-width: 385px) {
  .navigation-links {
    font-size: 75%;
  }
}
