.schedule-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 2%;
}

.schedule-panel header {
  color: black;
  padding: 0% 0% 4% 0%;
  letter-spacing: .15em;
}

.schedules {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 2; /* default 0 */
}

.schedule {
  padding: 4%;
}

.schedule-text {
  padding: 1% 0% 1% 0%;
  width: 100%;
}

.schedule-speaker{
  min-width: 25em;
  margin: 3% 1% 1% 10%;
  justify-content: center;
  text-align: center;
}

.time {
  border-bottom: 1px solid #ABBCC4;
  font-size: 20px;
  font-weight: 300;
  margin-top: .2em;
  padding-bottom: 0.2em;
  color: #F05942;
}

.title {
  font-size: 16px;
  margin-top: 0.5em;
  line-height: 1.4em;
  color: #ABBCC4;
  padding: 0% 10% 0% 10%;
  min-width: 25em;
}

.description {
  font-size: 14px;
  padding: 1% 0% 1% 20%;
  position: relative;
  line-height: 1.4em;
  text-align: center;
}

.twitter {
  font-size: 10px;
  padding: 1% 0% 1% 0%;
  position: relative;
  line-height: 1.4em;
}