.schedule-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 2%;
  overflow: hidden;
}

.schedule-panel header {
  color: black;
  padding: 0% 0% 4% 0%;
  letter-spacing: .15em;
}

.schedule-panel .schedules {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.schedule-panel .details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 2; /* default 0 */
}

.schedule-panel .schedule {
  padding: 4%;
}

.schedule-panel .schedule-text {
  padding: 1% 0% 1% 0%;
  width: 100%;
}

.schedule-panel .schedule-speaker {
  min-width: 25em;
  margin: 3% 1% 1% 10%;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.schedule-panel .time {
  border-bottom: 1px solid #ABBCC4;
  font-size: 20px;
  font-weight: 300;
  margin-top: .2em;
  padding-bottom: 0.2em;
  color: #F05942;
}

.schedule-panel .title {
  font-size: 16px;
  margin-top: 0.5em;
  line-height: 1.4em;
  color: #ABBCC4;
  padding: 0% 4% 0% 10%;
  min-width: 25em;
}

.schedule-panel .description {
  font-size: 14px;
  padding: 1% 0% 1% 20%;
  position: relative;
  line-height: 1.4em;
  text-align: center;
}

.schedule-panel .twitter {
  font-size: 10px;
  padding: 1% 0% 1% 0%;
  position: relative;
  line-height: 1.4em;
}

.schedule-panel .spacer {
  border-bottom: 1px dotted #cccccc;
  padding-top: 15px;
  width: 90%;
  margin: 0 auto 10px auto;
}

.schedule-panel .details:last-child .spacer {
  display: none;
}

.schedule-panel .conf-day {
  margin-bottom: 100px;
}

.schedule-panel hr {
  margin-bottom: 100px;
  width: 50%;
  border-top: 1px solid #cccccc;
}

@media only screen and (max-width: 500px) {
  .schedule-panel .description {
    padding-left: 0;
  }

  .schedule-panel .schedule-speaker {
    margin-left: 0;
  }

  .schedule-panel .title {
    min-width: 10em;
    padding: 0 0 0 1%;
    text-align: right;
  }

  .schedule-panel .time {
    border-bottom: 0;
  }

  .schedule-panel .schedule-speaker {
    min-width: 10em;
  }
}
