.speaker-panel {
  background-color: black;
  color: white;
  text-align: center;
  width: 100%;
  padding: 8% 0;
}

.speakers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1em;
}

.speaker {
  max-width: 400px;
  margin: 3% 1% 1% 1%;
  justify-content: center;
  text-align: center;
}

.speaker img {
  border-radius: 50%;
  height: 150px;
  border-style: solid;
  border-color: #F05942;
  border-width: 2px;
  max-width: 70%;
  height: auto;
}

.speaker-text {
  padding: 1% 0% 1% 0%;
  width: 100%;
}

.speaker .name {
  border-bottom: 1px solid #ABBCC4;
  font-size: 24px;
  font-weight: 300;
  margin-top: 1em;
  padding-bottom: 0.5em;
}

.speaker .title {
  font-size: 16px;
  margin-top: 0.5em;
  line-height: 1.4em;
}

.speaker .abstract {
  font-size: 14px;
  padding: 1% 0% 1% 0%;
  position: relative;
  line-height: 1.4em;
}
