.speaker-panel {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

header {
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding: 6% 0% 1.5% 0%;
  font-size: 20px;
  letter-spacing: .15em;
}

.speakers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: white;
  justify-content: center;
  padding-bottom: 8%;
}

.speaker {
  max-width: 25%;
  margin: 3% 1% 1% 1%;
  height: 20%;
  justify-content: center;
  text-align: center;

}

.speaker img {
  border-radius: 50%;
  height: 150px;
  border-style: solid;
  border-color: #F05942;
  border-width: 2px;
  max-width: 70%;
  height: auto;
}

.speaker-text {
  padding: 1% 0% 1% 0%;
  width: 100%;
}

.speaker hr {
  border-color: #A9BCC6;
  margin: 2% 15% 3% 15%;

}

.speaker .name {
  font-size: 18px;
}

.speaker .title {
  font-size: 16px;
  padding: 1% 15% 2% 15%;
  margin: 2% 0% 2% 0%;
}

.speaker .text {
  font-size: 14px;
  padding: 1% 0% 1% 0%;
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  max-height: 4.6em;
}

.text:before {
  content: '...';
  position: absolute;
  right: 0;
  bottom: 0;
}
.text:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: white;
}
