.premier-sponsors-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f05942;
  padding: 8%;
}

.sponsors-panel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #a9bcc6;
  padding: 6%;
}

.premier-sponsors-panel img {
  max-width: 100%;
}

.sponsors-panel img {
  max-width: 300px;
}
