.tickets-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #a9bcc6;
  padding: 8%;
}

.tickets-panel header {
  color: black;
  padding: 0% 0% 4% 0%;
  letter-spacing: .3em;
}

.ticket-icon {
  padding-top: 5%;
}

.ticket-text {
  line-height: 2em;
}
